@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700;800;900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: hsl(216, 12%, 8%);
}

.mode {
  background-color: wheat;
}

h1 {
  font-size: 1.6rem;
}

.mainContainer {
  color: white;
  background-image: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 12%));
  padding: 35px;
  border-radius: 20px;
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 430px;
}

.pad {
  margin-bottom: 12px;
}

p {
  font-size: 15px;
  color: hsl(216, 12%, 54%);
}

.ratings {
  display: flex;
  justify-content: space-between;
  color: hsl(216, 12%, 54%);
  margin-bottom: 30px;
}

.rate {
  background-color: var(--DarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  font-weight: 600;
  color: var(--lightGrey);
}

li {
  border: none;
}

ul {
  list-style-type: none;
  border: none;
}

.btn {
  border: none;
}

.rate:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}

.rate:focus {
  background-color: var(--lightGrey);
  color: var(--DarkBlue);
}

.fa {
  background-color: var(--DarkBlue);
  width: 45px;
  height: 45px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 10px;
  color: var(--lightGrey);
  cursor: pointer;
}


.submitBtn {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-size: medium;
  border: none;
  font-weight: 600;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.star {
  width: 65px;
  background-color: hsl(213, 19%, 18%);
  padding: 20px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.para {
  text-align: center;
  line-height: 22px;
}

.different {
  color: hsl(25, 60%, 53%);
  background-color: hsl(213, 19%, 18%);
  padding: 10px 23px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thankYou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}

#my-canvas{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  pointer-events: none !important;
}

.visible{
  visibility: hidden;
}

.hide {
  display: none;
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
